.couponTable {
  width: 100%;
  background-color: #3d424b;
  border-collapse: collapse;
}

.couponTable th,
.couponTable td {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.couponTableHeader {
  color: #ffffff;
  text-align: left;
}

.couponTableBody {
  color: #ffffff;
}

.deleteCouponButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e85b5b;
  color: #ffffff;
  padding: 0.75rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
}

.deleteCouponButton:hover {
  background-color: #c94c4c;
}